<a href="https://colab.research.google.com/github/JD950/Python_notebook/blob/main/Normalization_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Z-Score
# Making the average as 0, and scaling everything as a ratio of STANDARD_DEVIATIOn
# we assume a circle with radius as Standard Deviation, and the centre as Mean
# formulae: dataset_x -> z-score = (x-mean) / std
# z-score = (distance from centre)/radius 
# anything 3 times larger than radius is assumed to be outlier!

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/DFE3/main/data.csv', header=0)

In [3]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [4]:
# statistics of dataset
data.describe()
# STD and MEAN can be easily extracted from this dataset!

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]

In [5]:
stats = data.describe().T
mu = stats['mean']
sigma = stats['std']
# calculated mean and standard_deviation for every column

In [6]:
# Z-score--> x-mean/std
dataset_norm = (data-mu)/sigma

In [7]:
dataset_norm.head(10)

   Unnamed: 32  area_mean   area_se  ...  texture_mean  texture_se  texture_worst
0          NaN   0.983510  2.485391  ...     -2.071512   -0.564768      -1.358098
1          NaN   1.907030  0.741749  ...     -0.353322   -0.875473      -0.368879
2          NaN   1.557513  1.180298  ...      0.455786   -0.779398      -0.023953
3          NaN  -0.763792 -0.288125  ...      0.253509   -0.110312       0.133866
4          NaN   1.824624  1.189310  ...     -1.150804   -0.789549      -1.465481
5          NaN  -0.505206 -0.289004  ...     -0.834601   -0.592141      -0.313560
6          NaN   1.094332  0.298365  ...      0.160508   -0.804232       0.322599
7          NaN  -0.218772  0.233517  ...      0.358135    0.290306       0.400695
8          NaN  -0.383870 -0.352093  ...      0.588312   -0.389475       0.822090
9          NaN  -0.508616 -0.360447  ...      1.104467    0.692736       2.440961

[10 rows x 33 columns]

## MiniMax

In [9]:
import numpy as np
mydataset =  np.array([1,4,6,42,1042,99,24, 101])
minv = mydataset.min()
maxv = mydataset.max()
norm_dataset = (mydataset - minv)/(maxv-minv)
# formulae-> dataset x -> minmax -> (x-min)/(max-min)

In [10]:
norm_dataset

array([0.        , 0.00288184, 0.00480307, 0.03938521, 1.        ,
       0.09414025, 0.02209414, 0.09606148])

### Label Encoding

In [14]:
# converting words to numbers
# dictionary
mydictionary = { 'M': 1, 'B': 0}
mytfx = lambda val: mydictionary[val]

In [15]:
data['encoded_diagnosis'] = data['diagnosis'].map(mytfx)

In [16]:
data.tail(10)

         id diagnosis  ...  Unnamed: 32  encoded_diagnosis
559  925291         B  ...          NaN                  0
560  925292         B  ...          NaN                  0
561  925311         B  ...          NaN                  0
562  925622         M  ...          NaN                  1
563  926125         M  ...          NaN                  1
564  926424         M  ...          NaN                  1
565  926682         M  ...          NaN                  1
566  926954         M  ...          NaN                  1
567  927241         M  ...          NaN                  1
568   92751         B  ...          NaN                  0

[10 rows x 34 columns]

## One hot encoding

In [18]:

mydictionary1 = { 'M': 1, 'B': 0}
mytfx1 = lambda val: mydictionary1[val]
mydictionary2 = { 'M': 0, 'B': 1}
mytfx2 = lambda val: mydictionary2[val]

In [19]:
data['diagnosis_M'] = data['diagnosis'].map(mytfx1)
data['diagnosis_B'] = data['diagnosis'].map(mytfx2)

In [20]:
data.tail(10)
#One-Hot Encoding-> you now have 2 new columns in the end!

         id diagnosis  radius_mean  ...  encoded_diagnosis  diagnosis_M  diagnosis_B
559  925291         B        11.51  ...                  0            0            1
560  925292         B        14.05  ...                  0            0            1
561  925311         B        11.20  ...                  0            0            1
562  925622         M        15.22  ...                  1            1            0
563  926125         M        20.92  ...                  1            1            0
564  926424         M        21.56  ...                  1            1            0
565  926682         M        20.13  ...                  1            1            0
566  926954         M        16.60  ...                  1            1            0
567  927241         M        20.60  ...                  1            1            0
568   92751         B         7.76  ...                  0            0            1

[10 rows x 36 columns]

In [21]:
# One-hot encoding is used as a filter-> to select only Malignant rows!
data_m = data[data['diagnosis_M'] == 1] 
print(len(data_m))
data_m.tail(10)

212

           id diagnosis  ...  diagnosis_M  diagnosis_B
521  91762702         M  ...            1            0
533  91930402         M  ...            1            0
535    919555         M  ...            1            0
536  91979701         M  ...            1            0
562    925622         M  ...            1            0
563    926125         M  ...            1            0
564    926424         M  ...            1            0
565    926682         M  ...            1            0
566    926954         M  ...            1            0
567    927241         M  ...            1            0

[10 rows x 36 columns]