<a href="https://colab.research.google.com/github/JD950/ProjectsPortfolio/blob/main/Python_Practise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Takes a number and adds 1 to it e.g., input = 10 --> output = 11.

In [ ]:
list_in = [10,20,30,40,50]
list_out = []

for i in list_in:
  newresult = i + 1
  list_out.append(newresult)
  print('****')
  print(list_out)

****
[11]
****
[11, 21]
****
[11, 21, 31]
****
[11, 21, 31, 41]
****
[11, 21, 31, 41, 51]

Multiplies a number by itself:

In [ ]:
list = [1,2,3,4,5,6]
result = []
for b in list:
  newresult = b*b
  result.append(newresult)

print(result)

[1, 4, 9, 16, 25, 36]

Multiplies a number by itself; by using List COMPREHENSION

In [ ]:
list= [1,2,3,4,5,6]


result1 = [i+1 for i in list] #adds 1
result2 = [i*i for i in list]
print(result1)
print(result2)

[2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36]

Finds the half of a number

In [ ]:
mydata = [10,20,30,40,50]

result = [int(element/2) for element in mydata]
print(result)

[5, 10, 15, 20, 25]

Converts a string list into a list

In [ ]:
string = "Superman went up the hill to get a pint of orange juice"
out1 = []
for word in string.split(" "):
  out1.append(word)

print(out1)

print(out1[-2]) #string slicing

['Superman', 'went', 'up', 'the', 'hill', 'to', 'get', 'a', 'pint', 'of', 'orange', 'juice']
orange

Find words that are even e.g. Data = 4 letters = even

In [ ]:
string = "Superman went up the hill to get a pint of orange juice"
even = []

for word in string.split(" "):
  lenght1 = len(word) 
  if(lenght1 % 2== 0):
    even.append(word)

print(even)

['Superman', 'went', 'up', 'hill', 'to', 'pint', 'of', 'orange']

List comprehension / Find words that are odd and even e.g. the = 4 words = even

In [ ]:
string = "Superman went up the hill to get a pint of orange juice"

even = [ i for i in string.split(" ") if len(i)%2==0]
odd = [ i for i in string.split(" ") if len(i)%2==1]


print(f"Even: {even}")
print(f" Odd: {odd}")

Even: ['Superman', 'went', 'up', 'hill', 'to', 'pint', 'of', 'orange']
 Odd: ['the', 'get', 'a', 'juice']


Converting dollars to pounds but I have a list that contains both pounds and dollars.

In [ ]:
mix_list = ["$30", "£40","$30", "£40","£30", "£40"]
# loop into all elements
def dollar_to_pound(val):

  val = int(val[1:])   # remove $ 
  exchange_rate = 0.74 #Friday, 19 November 2021
  newvalue= int(val*exchange_rate)
  return '£'+str(newvalue)
  
result = [ dollar_to_pound(element) if(element[0]=='$') else element for element in mix_list ]
print(f"Original list: {mix_list}" )
print(f"Dollars to pounds: {result}")

Original list: ['$30', '£40', '$30', '£40', '£30', '£40']
Dollars to pounds: ['£22', '£40', '£22', '£40', '£30', '£40']